.container{
    width: 45%;
    margin:auto;
    padding: 1rem;
    border-radius: 1rem;
}

.full-width{
    width: 100%;
}
h1{
    text-align: center;
    font: bold
}
.status-prioridade{
    display: flex;
    justify-content: space-between;
}

.status-prioridade mat-form-field{
    width: 49%;
}

.descricao {
    min-height: 10rem;
    max-height: 20rem;
}

button {
    margin-top: 0.5rem;
}