<div class="container ">
  <form class="form mat-elevation-z8">
      <h1>HelpDesk</h1>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
      [formControl]="email"
      required=""
      [(ngModel)]="creds.email" name="email" matInput placeholder="Fulano@email.com"   />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input 
      [formControl]="senha"
      required=""
      [(ngModel)]="creds.senha" name="senha" type="password" matInput placeholder="******"/>
    </mat-form-field>
    <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary" >Logar</button>
  </form>
</div>
